<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Đổi mật khẩu</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap" rel="stylesheet">
	<script src="/js/angular.min.js"></script>
	<style>
		body {
			font-family: 'Comfortaa', cursive;
			background: #007bff;
			background: linear-gradient(to left, #d859d2, #33AEFF);
		}

		.mg-custom {
			margin-top: 20px;
			height: 100vh;
		}

		.width-custom {
			border: 1px;
			border-radius: 17px;
			width: 60vh;
			box-shadow: 5px 5px 5px 5px rgb(1, 0, 0,0.2);
		}

		.btn-google {
			color: white;
			background-color: #ea4335;
		}

		.btn-facebook {
			color: white;
			background-color: #3b5998;
		}

		.btn-facebook:hover {
			color: white;
			background-color: #23314f;
		}

		.btn-google:hover {
			color: white;
			background-color: #85271e;
		}

		.account-icon-custom {
			font-size: 150px;
			color: #3b5998;
		}
	</style>
</head>

<body ng-app="changePasswordApp">
	<div class="row mg-custom">
		<div class="col d-flex justify-content-center align-items-center flex-column">
			<form class="width-custom bg-light" ng-controller="changePasswordCtrl">
				<h3 class="my-4 mx-5">Đổi mật khẩu</h3>
				<hr class="mx-5">
				<div class="row mx-5 mt-3 ">
					<div class="form-group col-12 ">
						<label class="my-3 fw-bold" for="manv">UserName: </label>
						<input type="text" class="form-control" id="manv" placeholder="Username"
							ng-model="user.username" required>
					</div>
				</div>
				<div class="row mx-5 mt-3 ">
					<div class="form-group col-12 ">
						<label class="my-3 fw-bold" for="manv"> Password hiện tại: </label>
						<input type="password" class="form-control" id="currentPass"
							placeholder="Nhập Password hiện tại" ng-model="user.currentpassword">
					</div>
				</div>
				<div class="row mx-5 mt-3 ">
					<div class="form-group col-12 ">
						<label class="my-3 fw-bold" for="manv">Password mới: </label>
						<input type="password" class="form-control" id="newPass" placeholder="Nhập Password mới"
							ng-model="user.newPass">
					</div>
				</div>
				<div class="row mx-5 mt-3 ">
					<div class="form-group col-12 ">
						<label class="my-3 fw-bold" for="manv">Xác nhận Password mới: </label>
						<input type="password" class="form-control" id="comfirmPass" placeholder="Nhập lại Password mới"
							ng-model="comfirmPass">
					</div>
				</div>
				<div class="row mx-5 mt-3 fst-italic fw-bold" style=" color:red" id="validate">
					
				</div>
				
				<div class="my-4 mx-5  row">
					<button type="button" class="btn mb-2 fs-5" ng-click="saveChange()" style="background-color:#b4aee8">Đổi mật
						khẩu</button>
					<a href="index.html" class="btn btn-secondary">Huỷ</a>
				</div>
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
<script src="js/Students.js"></script>
<script>
	let app = angular.module('changePasswordApp', []);
	app.controller('changePasswordCtrl', function ($scope, $http, $rootScope) {

		$rootScope.users = listUsers;

		$scope.saveChange = function () {
			$scope.user = angular.copy($scope.user);
			console.log($scope.user.username);
			console.log($scope.user.currentpassword);
			let status = false;

			for (let i = 0; i < $rootScope.users.length; i++) {
				let checkUser = $scope.user.username == $rootScope.users[i].username ? true : false;
				let checkPass = $scope.user.currentpassword == $rootScope.users[i].password ? true: false;
				let checkNewPassNull = $scope.user.newPass == null && $scope.user.comfirmPass == null ? false : true;
				let comParePass = $scope.user.comfirmPass == $scope.user.newPass ? true : false;

				if(checkUser == false){
					console.log("Username lỗi");
					document.getElementById('validate').innerHTML = "Username hoặc Password không đúng";
					break;
				} else if(checkPass == false){
					document.getElementById('validate').innerHTML = "Username hoặc Password không đúng";
					console.log("Password lỗi");
					break;
				} else if(checkNewPassNull == false){
					document.getElementById('validate').innerHTML = "Password mới đang trống";
					console.log("Mật khẩu mới đang trống");
					break;
				} else if(comParePass == false){
					document.getElementById('validate').innerHTML = "Password mới không giống nhau";
					console.log("Mật khẩu mới không giống nhau");
					break;
				} else {
					$rootScope.users[i].password = $scope.user.newPass
					console.log($rootScope.users);
					document.getElementById('validate').innerHTML = "Thay đổi mật khẩu thành công";
					document.getElementById('validate').style.color = "blue";
					break;
				}

				// if ($scope.user.username != $rootScope.users[i].username) {
				// 	status = false;
				// 	break;
				// }
				// if (checkNullPass()) {
				// 	status = false;
				// 	break;
	
				// }
				// if ($scope.user.currentpassword != $rootScope.users[i].password) {
				// 	status = false;
				// 	break;
				// }
				// if($rootScope.users[i].password = $scope.user.newPass){
				// 	console.log($scope.users);
				// 	break;
				// }
			}
			
		}

		let checkNullPass = () => {
			if ($scope.user.newPass == "" && $scope.user.comfirmPass == "") {
				return false;
			} else {
				return true;
			}
		}

		let checkPass = () => {
			if ($scope.user.newPass == $scope.user.comfirmPass) {
				return true;
			} else {
				return false;
			}
		}
	});

</script>

</html>